@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&family=Racing+Sans+One&display=swap');
:root {
  --main-color: rgba(74, 163, 90, 1);
  --secondary-color: #fff;
  --font-size: 18px;
  --sec-font: "Inter", sans-serif;
}
.auth-container{
    background-image: url("./assets/images/Auth_bg.jpg");
    background-position: center;
    background-size: cover;

}
.bg-overlay{
    background-image: linear-gradient(45deg,rgba(47, 140, 97, 0.331),rgba(0, 0, 0, 0.99));
}
.main_color {
    color: var(--main-color) !important;
}
.bg-main-color{
    background-color: var(--main-color);
    color: var(--secondary-color);
}
.auth_btn{
    transition: .3s;
}
.auth_btn:hover{
    border:1px solid var(--main-color);
    color: var(--main-color);
    
}
/* general font class */
.title h2{
     font-weight: 700;
    font-family: var(--sec-font);
}
.title p{
    color: #49494999;
    font-weight: 400;
    font-family: var(--sec-font);

}
.header_bg{
    background: #009247;

}

.ps-menu-button{
    transition: 1s;
}
.bg-sideBar .css-dip3t8{
      background: #1F263E !important;
    border-top-right-radius: 58px;
    min-height: 100vh;

}
.ps-menu-button:hover
{
    background: #0092471A !important;
    border-left: 4px solid  #009247;


}
.home{
    background: #F0FFEF;

}
.form-control{
    border: none;
}
.form-control:focus{
    box-shadow: none;
   

}
.input-group{
    border: 1px solid rgba(128, 128, 128, 0.456);
    transition: .3s;
}
.input-group:focus{
    border: 1px solid green;
}
