@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&family=Racing+Sans+One&display=swap');
:root {
  --main-color: rgba(74, 163, 90, 1);
  --secondary-color: #fff;
  --font-size: 18px;
  --sec-font: "Inter", sans-serif;
}
.auth-container{
    background-image: url("./assets/images/Auth_bg.jpg");
    background-position: center;
    background-size: cover;

}
.bg-overlay{
    background-image: linear-gradient(45deg,rgba(47, 140, 97, 0.331),rgba(0, 0, 0, 0.99));
}
.main_color {
    color: var(--main-color) !important;
}
.bg-main-color{
    background-color: var(--main-color);
    color: var(--secondary-color);
}
.auth_btn{
    transition: .3s;
}
.auth_btn:hover{
    border:1px solid var(--main-color);
    color: var(--main-color);
    
}
/* general font class */
.title h2{
     font-weight: 700;
    font-family: var(--sec-font);
}
.title p{
    color: #49494999;
    font-weight: 400;
    font-family: var(--sec-font);

}
.header_bg{
    background: #009247;
    position: relative;
    overflow: hidden;

}
.headerSvg {
  position: absolute;
  inset: 0;              
  width: 100%;
  height: 100%;
  z-index: 0;
}
.header_bg .content {
  position: relative;
  z-index: 1;
}
.ps-menu-button{
    transition: 1s;
}
.bg-sideBar .css-dip3t8{
      background: #1F263E !important;
    border-top-right-radius: 58px;
    min-height: 100vh;

}
.ps-menu-button:hover
{
    background: #0092471A !important;
    border-left: 4px solid  #009247;


}
.home{
    background: #F0FFEF;

}
.form-control{
    border: none;
}
.form-control:focus{
    box-shadow: none;
   

}
.input-group{
    border: 1px solid rgba(128, 128, 128, 0.456);
    transition: .3s;
}
.input-group:focus{
    border: 1px solid green;
}

.dropDownMenu{
    background-color: #fff ; 
    box-shadow: 0px 0px 16px 0px #0000001A;
    border-radius: 15px;
    /* list-style: none; */
    padding: 0;
    /* position: relative; */
    border:0
    
}
/* .dropDownMenu::before{
    content: "";
    position: absolute;
    top:-20px;
    right:15px;
    width: 20px;
    border:10px solid ;
    border-color: transparent transparent #fff transparent;
   
} */
 .arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  top: -10px;
  right: 15px;
}

.dropdown-toggle::after {
  display: none;
}
.list_item{
    cursor: pointer;
    transition: .2s;
   
}
.list_item:hover{
    background: #F8F9FB;

}
/* .list_item */
.list_item:active,
.list_item:focus {
  color: #000 ; 
}
.list_item i {
    color:var(--main-color);
    margin-right: 10px;
}
.delete_confirmation_btn{
    border: 1px solid #CC0000
}
.delete_btn{
    transition: .3s;
    color:  #CC0000;
    border: 1px solid  #CC0000;

;
}
.delete_btn:hover{
    background-color:  #CC0000;
    color: white;
    border-color: white;
}
.customTableColor{
   background: #E2E5EB !important;
   color:  #1F263E;

}
.table-wrapper{
    width: 100%;
    overflow-x: auto;
}
.main_dash_btn{
    background: #009247;
    color: #fff;
    transition: .3s;
    padding: 10px 30px ;
    border-radius: 8px;
    border: 1px solid #fff;

}
.main_dash_btn:hover{
    color:#009247;
    background-color: #fff;
    border:1px solid #009247;

}
.input-group-text{
    border:none !important;
}
.bg_header{
background: #F0FFEF;
border-radius: 15px;
height: 167px;

}
form input , textarea , select{
    background: #F7F7F7 !important;


}
.cancel_btn{
    color: #009247;
    background-color: #fff;
    border: 1px solid #009247;
    transition: .3s;
    padding: 10px 30px ;
    margin-right: 10px;
    border-radius: 8px;
}
.cancel_btn:hover{
    color: #fff;
    background-color: #009247;
    border: 1px solid #009247;


}
.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrows {
  -moz-appearance: textfield;
}

.upload-box {
  border: 2px dashed #4caf50;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  cursor: pointer;
  color: #4caf50;
  transition: 0.3s;
}

.upload-box:hover {
  background-color: #f6fff6;
}
button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* search  input in nav  */
.searchStyle{
    border: 0 !important;
    border-radius: 8px;
    width: 60%;
}


